<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="UTF-8">
        <title>User info page</title>
    <style>
        /* Убираем избыточные inline-стили и добавляем CSS классы */
        .table-header {
            width: 200px;
            background-color: lightcyan;
            text-align: center;
        }
        .table-data {
            width: 500px;
            text-align: center;
        }
        .section-header {
            background-color: aqua;
            text-align: center;
        }
        .button-container {
            width: 200px;
            text-align: center;
        }
    </style>
    </head>

    <body>
    <h1>User info page</h1>
    <h3>User, welcome spring boot security page!</h3>
    <H4>Вывожу основную информацию о текущем пользователе системы:</H4>

    <!-- Таблица для отображения данных пользователя -->
    <table border="5">

        <!-- Заголовок таблицы -->
        <tr>
            <td class="table-header">Parameter</td>
            <td class="table-header">Value</td>
        </tr>

        <!-- Информация о пользователе -->
        <tr>
            <td class="section-header" colspan="2">User Info:</td>
        </tr>
        <tr>
            <td>User Id</td>
            <td th:text="${viewed_user.getId()}">User Id</td>
        </tr>
        <tr>
            <td>User Name // Login</td>
            <td th:text="${viewed_user.getUserName()}">User Name</td>
        </tr>
        <tr>
            <td>Password</td>
            <td th:text="${viewed_user.getPassword()}">Password</td>
        </tr>
        <tr>
            <td>Email</td>
            <td th:text="${viewed_user.getEmail()}">Email</td>
        </tr>
        <tr>
            <td>Roles</td>
            <td>
                <table border="0">
                    <tr th:each="role : ${viewed_user.getRoles()}">
                        <td th:text="${role}">Role</td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Личная информация -->
        <tr>
            <td class="section-header" colspan="2">Personal Info:</td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td th:text="${viewed_user.getFullName()}">Full Name</td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td th:text="${viewed_user.getDateBirth()}">Date of Birth</td>
        </tr>
        <tr>
            <td>Address</td>
            <td th:text="${viewed_user.getAddress()}">Address</td>
        </tr>
    </table>
    <br/> <br/> <br/>

    <!-- Кнопки управления -->

    <!-- Кнопка отмены и возврата на стартовую страницу -->
    <table border="0">
        <tr>
            <td style="width: 400px; text-align: right;">Переход к стартовой странице</td>
            <td class="button-container" style="width: 150px; text-align: left;">
                <form method="GET" th:action="@{/}">
                    <input type="submit" value="-= To greeting page =-"/>
                </form>
            </td>
        </tr>
    </table>
    <br/> <br/> <hr/> <br/> <br/>

    <!-- Кнопка разлогинивания -->
    <table border="0">
        <tr>
            <td style="width: 400px; text-align: right;">Кнопка ралогинивания:</td>
            <!-- Кнопка отмены и возврата ко всем пользователям -->
            <td class="button-container" style="width: 150px; text-align: left;">
                <form th:method="GET" th:action="@{/logout}" accept-charset="UTF-8">
                    <input type="submit" value="-= LogOut =-" />
                </form>
            </td>
        </tr>
    </table>
<!--    <form th:method="GET" th:action="@{/logout}" accept-charset="UTF-8">-->
<!--        <input type="submit" value="-= LogOut =-" />-->
<!--    </form>-->
    <br/> <br/> <hr/> <br/> <br/>

    </body>
</html>